.search {
  margin-top: 100px;
}

.col {
  padding: 20px;
}

.button {
  width: 118px;
  padding: 14px 20px;
  color: #fff;
  background-color: #e40000;
  border: 1px solid #e40000;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  outline: 0;
  cursor: pointer;
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
