@import '../../../styles/mediaMixin.scss';

.hero {
  position: relative;
  height: calc(100vh - 85px);
}

.image {
  width: 100%;
  object-fit: cover;
}

.text-holder-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.text-holder {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  justify-content: center;

  @include md {
    position: static;
    width: 50%;
    height: auto;
    margin-right: 20px;
    padding: 2rem;
  }
}
