@import 'styles/basscss.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-family: Ciutadella, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  color: #5f5f5f;
  background-color: #fafafa;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.3;
}

a {
  color: #5f5f5f;
  text-decoration: none;
  cursor: pointer;
}
